<form (submit)="addAdvertentie()" [formGroup]="advertentieForm">
  <div>

    <div>
      <label for="advertentieTitel">Titel: </label>
      <input class="form-control" formControlName="titel" id="advertentieTitel" type="text">
    </div>

    <div class="margin-top">
      <label>Selecteer afbeelding:</label>
      <div class="margin-top">
        <input formControlName="afbeelding"
               #imageInput
               accept="image/*"
               type="file"
               (change)="onImageChange($event)">
      </div>
    </div>


    <div class="btn-group mr-3 margin-top">
      <div>
        <label class="control-label">Soort</label>
        <select class="form-control" formControlName="soort">
          <option *ngFor="let s of soorten">
            {{s}}
          </option>
        </select>
      </div>
      <div class="margin-left">
        <label class="control-label" for="hoofdcategorie">Hoofdcategorie</label>
        <select class="form-control" formControlName="hoofdcategorie" id="hoofdcategorie">
          <option class="" *ngFor="let h of hoofdcategorieen">
            {{h.naam}}
          </option>
        </select>
      </div>
      <div class="margin-left">
        <label class="control-label">Categorie</label>
        <select class="form-control" formControlName="categorie">
          <option *ngFor="let c of categorieen" [ngValue]="c">
            {{c.naam}}
          </option>
        </select>
      </div>
    </div>

    <div>
      <label class="form-label margin-top" for="advertentieOmschrijving">Omschrijving: </label>
      <textarea class="form-control" formControlName="omschrijving" id="advertentieOmschrijving" rows="3"></textarea>
    </div>

    <div>
      <label class="form-label margin-top" for="advertentiePrijs">Prijs: </label>
      <div class=" input-group ">
        <span class="input-group-text">€</span>
        <input class="form-control" formControlName="prijs" id="advertentiePrijs" type="text">
      </div>
    </div>
  </div>

  <button class="btn btn-primary margin-top" type="submit">Aanmaken</button>
  {{this.advertentieForm.value | json}}
</form>


