<h1> Registreren </h1>

<form (submit)="addGebruiker()" [formGroup]="gebruikerForm" id="reactive-form" novalidate>
  <div class="form-group">
    <label for="GebruikersnaamInput">Gebruikersnaam: </label>
    <input class="form-control" formControlName="gebruikersnaam" id="GebruikersnaamInput" type="text">
    <span *ngIf="gebruikerForm.get('gebruikersnaam').touched && gebruikerForm.get('gebruikersnaam').invalid">* </span>
    <span *ngIf="gebruikerForm.get('gebruikersnaam').touched && gebruikerForm.get('gebruikersnaam').errors?.required">Vul in aub</span>  </div>
  <div class="form-group">
    <label for="EmailInput">Email</label>
    <input class="form-control" formControlName="email" id="EmailInput" type="email">
    <span *ngIf="gebruikerForm.get('email').touched && gebruikerForm.get('email').invalid">*</span>
    <span *ngIf="gebruikerForm.get('email').touched && gebruikerForm.get('email').errors?.required">Vul in aub</span>
    <span *ngIf="gebruikerForm.get('email').touched && gebruikerForm.get('email').errors?.email">Een echt e-mailadres graag</span>
  </div>

  <div *ngFor="let bezorgwijze of bezorgwijzen; let i = index">
    <label formArrayName="bezorgwijzen">
      <input *ngIf="bezorgwijze !=='Ophalen'" type="checkbox" [formControlName]="i" />
      <input *ngIf="bezorgwijze ==='Ophalen'" (change)="updateState()" type="checkbox" [formControlName]="i" />
      {{bezorgwijze}}
      <div *ngIf="bezorgwijze ==='Ophalen' && ophalenChecked">
        <app-adres-vragen [adres]="gebruikerForm.get('adres')"></app-adres-vragen>
      </div>
    </label>
  </div>
    <button class="btn btn-primary margin-top" type="submit" [disabled]="gebruikerForm.invalid">Aanmelden</button>
  </form>

<div *ngIf="formSubmitted">
  Uw tijdelijke wachtwoord is: {{getWachtwoord() | json}}
</div>





