<h1> Registreren </h1>

<form (submit)="addGebruiker()" [formGroup]="gebruikerForm" id="reactive-form" novalidate>
  <div class="form-group">
    <label for="GebruikersnaamInput">Gebruikersnaam: </label>
    <input class="form-control" formControlName="gebruikersnaam" id="GebruikersnaamInput" type="text">
    <!--      TODO validators-->
  </div>
  <div class="form-group">
    <label for="EmailInput">Email</label>
    <input class="form-control" formControlName="email" id="EmailInput" type="text">
    <!--      TODO validators-->
  </div>

  <div *ngFor="let bezorgwijze of bezorgwijzen; let i = index">
    <label formArrayName="bezorgwijzen">
      <input *ngIf="bezorgwijze !=='Ophalen'" type="checkbox" [formControlName]="i" />
      <input *ngIf="bezorgwijze ==='Ophalen'" (change)="updateState()" type="checkbox" [formControlName]="i" />
      {{bezorgwijze}}
      <div *ngIf="bezorgwijze ==='Ophalen' && ophalenChecked">
        <app-adres-vragen [adres]="gebruikerForm.get('adres')"></app-adres-vragen>
      </div>
    </label>
  </div>
    <button class="btn btn-primary margin-top" type="submit">Aanmelden</button>
  </form>

<div *ngFor="let gebruiker of gebruikers">
  {{gebruiker | json}}
</div>



