<div class="row row-cols-auto margin-top">
  <div *ngFor="let ad of advertenties" class="col w-25 h-auto margin-top ">
    <div class="card-header">
      {{ad.titel}}
    </div>
    <div class="card">
      <img class="card-img-top rounded mx-auto d-block" src="{{ad.afbeelding}}">
      <div class="card-body">
        <p class="card-text">{{ad.omschrijving}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ad.prijs}}</small>
      </div>
    </div>
  </div>
</div>
