<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form class="form-horizontal" formGroupName="Adres" role="form">

        <h2>Adres</h2>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="inputAddressLine1">Straatnaam</label>
          <div class="col-sm-10">
            <input class="form-control" id="inputAddressLine1" name="straatnaam" placeholder="Straatnaam" type="text">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="inputHuisnummer">Huisnummer</label>
          <div class="col-sm-10">
            <input class="form-control" id="inputHuisnummer" name="huisnummer" placeholder="Huisnummer" type="text">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="inputZipPostalCode">Postcode</label>
          <div class="col-sm-10">
            <input class="form-control" id="inputZipPostalCode" name="postcode" placeholder="Postcode" type="text">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="inputCityTown">Stad</label>
          <div class="col-sm-10">
            <input class="form-control" id="inputCityTown" name="stad" placeholder="Stad" type="text">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="inputStateProvinceRegion">Provincie</label>
          <div class="col-sm-10">
            <input class="form-control" id="inputStateProvinceRegion" name="provincie" placeholder="Provincie"
                   type="text">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="selectCountry">Land</label>
          <div class="col-sm-10">
            <select class="form-control" id="selectCountry" name="Land">
              <option selected="selected" value="">Selecteer land</option>
              <option value="BE">België</option>
              <option value="NL">Nederland</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
