<h1> Registreren </h1>

<form (submit)="addGebruiker()" [formGroup]="toevoegenGebruikerForm" id="reactive-form" novalidate>
  <div class="form-group">
    <label for="GebruikersnaamInput">Gebruikersnaam: </label>
    <input class="form-control" formControlName="gebruikersnaam" id="GebruikersnaamInput" type="text">
    <!--      TODO validators-->
  </div>
  <div class="form-group">
    <label for="EmailInput">Email</label>
    <input class="form-control" formControlName="email" id="EmailInput" type="text">
    <!--      TODO validators-->
  </div>

  <div class="form-group" id="bezorgwijze[]">
    <label class="custom-control-label margin-top" for="bezorgwijze[]">Bezorgwijze</label>
    <div class="custom-control custom-checkbox">
      <input class="custom-control-input" id="afhalenMagazijn" type="checkbox">
      <label class="custom-control-label" for="afhalenMagazijn">Afhalen magazijn</label>
    </div>

    <div class="custom-control custom-checkbox">
      <input (change)="updateState()" class="custom-control-input" id="thuisAfhalen" type="checkbox">
      <label class="custom-control-label" for="thuisAfhalen">Thuis afhalen</label>
      <div *ngIf="thuisAfhalen" formGroupName="adres">
        <app-adres-vragen [adres]="toevoegenGebruikerForm.get('adres')"></app-adres-vragen>
      </div>
    </div>

    <div class="custom-control custom-checkbox">
      <input class="custom-control-input" id="versturen" type="checkbox">
      <label class="custom-control-label" for="versturen">Versturen</label>
    </div>

    <div class="custom-control custom-checkbox">
      <input class="custom-control-input" id="versturenOnderRembours" type="checkbox">
      <label class="custom-control-label" for="versturenOnderRembours">Versturen onder rembours</label>
    </div>
  </div>
  <button class="btn btn-primary margin-top" type="submit">Aanmelden</button>
</form>

<div *ngFor="let gebruiker of gebruikers">
  {{gebruiker | json}}
</div>



