<div class="col">
  <div class="col dropdown">
    <ul class="navbar-nav mr-auto dropdown">
      <li class="nav-item" display="dynamic" ngbDropdown placement="bottom-right">
        <a class="nav-link" id="navbarDropdown3" ngbDropdownToggle role="button" tabindex="0">
          <i class="bi bi-person-circle"></i>
          Inloggen
        </a>
        <div aria-labelledby="dropdownForm1" ngbDropdownMenu>
          <form class="px-4 py-3" (ngSubmit)="login()" [formGroup]="loginForm">
            <div class="form-group">
              <label for="gebruikersnaam">Gebruikersnaam</label>
              <input autocomplete="username" class="form-control" formControlName="gebruikersnaam"
                     id="gebruikersnaam" placeholder=""
                     type="text">
            </div>
            <div class="form-group">
              <label for="wachtwoord">Wachtwoord</label>
              <input autocomplete="current-password" class="form-control" formControlName="wachtwoord"
                     id="wachtwoord" placeholder=""
                     type="password">
            </div>

            <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Log in</button>

          </form>
          <div class="dropdown-divider"></div>
          <button [routerLink]="['/registreren']" ngbDropdownItem>Registreren</button>

        </div>
      </li>
    </ul>
  </div>
</div>




